.form {
  align-items: center;
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
  margin: 14px auto;
  padding: 8px;
}

.form-btn {
  align-items: center;
  background-color: var(--alt-bg-color);
  border: 0;
  border-radius: 2px;
  color: var(--alt-text-color);
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 60px;
  justify-content: center;
  outline: none;
  padding: 10px 20px;
  width: 110px;
}

.form-group {
  display: flex;
  width: fit-content;
}

.form-group input {
  width: 150px;
}
