.trybe__wallet__logo {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  max-width: 100px;
}

.trybe__wallet__logo div {
  position: relative;
  width: 100%;
}

.trybe__wallet__logo div :nth-child( 1 ) {
  width: 100%;
}

.trybe__wallet__logo div :nth-child( 2 ) {
  height: 22px;
  left: 32%;
  position: absolute;
  top: 50%;
  transform: rotate(355deg);
  width: 22px;
}

.trybe__wallet__logo span {
  bottom: -45%;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  position: absolute;
  right: 0;
}
