@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* <-------- ROOT --------> */

:root {
  --bg-color: #1B2430;
  --alt-bg-color: #D6D5A8;
  --white: white;
}

body {
  background-color: var(--bg-color);
}
